<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.security.network.client</key>
    <true/>

    <!-- Allow the app to read and write user-selected files or directories -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>

    <!-- Allow the app to access specific files and directories (such as the home directory) -->
    <key>com.apple.security.files.home-directory</key>
    <true/>
</dict>
</plist>
